WEBODM_URL=http://localhost:8000
WEBODM_USERNAME=your_email@example.com
WEBODM_PASSWORD=your_secure_password

IMAGE_FOLDER=F:/path/to/your/images
GEOJSON_FILE=F:/path/to/boundary.geojson
OUTPUT_FOLDER=outputs

PROJECT_NAME=My Project Name

RUN_TASK_1=True
RUN_TASK_2=False
QUALITY_CHECK_MODE=True