# PATHS
SURVEYS_ROOT=surveys root directory
FIELD_DATA_ROOT=field data root directory
UPLOAD_CACHE_ROOT=cache root directory

# WEBODM
WEBODM_URL=http://localhost:8000
WEBODM_USERNAME=your username
WEBODM_PASSWORD=your password
WEBODM_NODE_ID=
WEBODM_TASK1_OPTIONS_JSON={"auto-boundary":true,"fast-orthophoto":true,"mesh-size":300000,"min-num-features":20000,"orthophoto-resolution":1,"pc-quality":"high","skip-3dmodel":true}
WEBODM_TASK2_OPTIONS_JSON={"dem-resolution":1,"dsm":true,"dtm":true,"mesh-size":300000,"min-num-features":20000,"orthophoto-resolution":1,"pc-quality":"high"}

# CROSS RUN FILTER
CROSSRUN_MAX_GAP=10
CROSSRUN_WINDOW=3
DELETE_RAW=true

CROSSRUN_MODE=xc
TASK1_BOUNDARY_MODE=xb
TASK2_BOUNDARY_MODE=b

EXPORTS_ENABLED=true

# ORTHOMOSAIC EXPORT
EXPORT_ORTHO=true
ORTHO_OUT_DIR_KEY=ortho
ORTHO_EPSG=4326
ORTHO_FILENAME_TEMPLATE=orthomosaic--{flag}.tif
ORTHO_ASSET_CANDIDATES=orthophoto.tif

# DEM EXPORT
EXPORT_DEM=false
EXPORT_DEM_DOWNLOAD=true

DEM_EPSG=3857
DTM_DIR_KEY=dem_dtm
DSM_DIR_KEY=dem_dsm
DEM_FILENAME_TEMPLATE={color}-{shading}.tif

DEM_MODELS=dtm,dsm
DEM_COLORS=earth,gray,rainbow,slope,terrain
DEM_SHADINGS=none,hillshade,extruded

# POINT CLOUD EXPORT
EXPORT_POINTCLOUD=true
POINTCLOUD_OUT_DIR_KEY=3d
POINTCLOUD_FILENAME_TEMPLATE={survey_id}-RGB-{flag}.ply
POINTCLOUD_REQUIRED=true

POINTCLOUD_ASSET_CANDIDATES=georeferenced_model.laz,odm_georeferencing/georeferenced_model.laz,odm_georeferencing/odm_georeferenced_model.laz,odm_georeferencing/odm_georeferenced_model.laz.zip,odm_georeferencing/georeferenced_model.laz.zip

# WEBODM ALL ASSETS ZIP
EXPORT_ALL_ASSETS_ZIP=true
ALL_ASSETS_OUT_DIR_KEY=odm
ALL_ASSETS_FILENAME_TEMPLATE={survey_id}-RGB-{flag}-all.zip

# QGIS PROCESSING
QGIS_ENABLED=true

QGIS_ROOT=qgis root directory
GDALWARP_PATH=gdalwarp path in qgis
GDAL2TILES_PATH=gdal2tiles path in qgis
PDAL_PATH=pdal path in qgis

# QGIS CLIP SETTINGS
QGIS_CLIP_ENABLED=true
QGIS_CLIP_FILENAME_TEMPLATE=orthomosaic-clipped--{flag}.tif
QGIS_CLIP_DST_NODATA=

# QGIS TILE SETTINGS
QGIS_TILES_ENABLED=true
QGIS_TILES_PROFILE=mercator
QGIS_TILES_ZOOM=11-24
QGIS_TILES_WEBVIEWER=none
QGIS_TILES_COPYRIGHT=ASIMOV-HAWKS